.advantages {
  width: 100%;
  max-width: 30rem;
  margin: 7rem auto;
}

.advantages article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}
.advantages article h2 {
  font-family: var(--font--sec);
}

.advantages img {
  transition: 0.3s;
}

.advantages article:hover img {
  transform: scale(1.2);
}

.advantages article h2 {
  margin: 2.2rem 0 1rem 0;
}

@media (min-width: 781px) {
  .advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    max-width: var(--max--width);
  }
  .advantages article {
    margin: 0;
    padding: 0 2.4rem;
  }
  .advantages img {
    height: 5rem;
    object-fit: fill;
  }
}
