header {
  width: 100%;
  background-color: var(--clr--dark--blue--1);
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 50%;
  animation: 5s intro_background infinite;
}

header div {
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 30rem;
  margin: auto;
}

header img {
  max-width: 100%;
}

header h1 {
  font-size: 1.5rem;
  font-family: var(--font--sec);
  line-height: 2.3rem;
  margin: 1rem 0;
}

header p {
  margin: 1rem 0;
}

header button {
  margin: 1rem 0;
}

@media (min-width: 581px) {
  header {
    background-image: url("../images/bg-curvy-desktop.svg");
  }
}

@keyframes intro_background {
  0% {
    background-size: 100% 50%;
  }
  50% {
    background-size: 100% 10%;
  }
  100% {
    background-size: 100% 50%;
  }
}
