.nav {
  background-color: var(--clr--dark--blue--1);
  padding: 2rem 0;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 10rem;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.nav img {
  width: 100%;
  max-width: 5rem;
}

@media (min-width: 581px) {
  .nav ul {
    font-size: 1rem;
    max-width: 15rem;
  }

  .nav img {
    max-width: 7rem;
  }
}
