@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--background--2);
  color: var(--clr--foreground--1);
}

a {
  all: unset;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }

  @include focus-visible;
}
