:root {
  --clr--active: hsl(238, 40%, 52%);
  --clr--danger: hsl(358, 79%, 66%);
  --clr--transparent: hsl(239, 57%, 85%);
  --clr--success--1: #1abc9c;
  --clr--success--2: #16a085;
  --clr--fantasy: hsl(330, 100%, 52%);

  --foreground--1: hsl(212, 24%, 26%);
  --foreground--2: hsl(211, 10%, 45%);
  --foreground--3: hsl(210, 25%, 72%);
  --background--1: hsl(228, 33%, 97%);
  --background--2: hsl(223, 19%, 93%);
  --background--3: hsl(0, 0%, 100%);
  --background--4: hsl(210, 30%, 20%);

  --shadow--1: rgba(183, 217, 247, 0.48) 6px 2px 16px 0px,
    rgba(231, 242, 247, 0.8) -6px -2px 16px 0px;

  --radius: 0.438rem;

  --clr--border--1: #dbecfd;
  --clr--border--2: #e4f2ff;
}

[data-theme='dark'] {
  --background--1: hsl(210, 30%, 20%);
  --background--2: hsl(210, 28%, 25%);
  --background--4: hsl(228, 33%, 97%);

  --foreground--1: hsl(228, 33%, 97%);

  --clr--active: hsl(238, 97%, 76%);
  --clr--fantasy: hsl(47, 100%, 63%);
  --clr--border--1: #6b7075;
  --clr--border--2: #1f2d42;

  --shadow--1: rgba(6, 28, 53, 0.28) 6px 2px 16px 0px,
    rgba(31, 31, 31, 0.3) -6px -2px 16px 0px;
}
