@import '../../scss/mixins';

.vote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background--1);
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 6rem;
  color: var(--clr--active);
  font-weight: 600;
  margin-top: 1rem;
  button {
    display: flex;
    color: var(--foreground--3);
    cursor: pointer;
  }

  @include breakpoint-up(laptop) {
    flex-direction: column;
    max-width: 3rem;
    height: 7rem;
    margin-top: 0;
    margin-right: 1.5rem;
  }
}
