.header {
  display: flex;
  align-items: center;

  p {
    margin-left: 0.5rem;
    color: var(--foreground--2);
    // padding: 0.3rem;
  }

  p:first-of-type {
    margin-bottom: 0.5rem;
    color: var(--foreground--1);
    font-weight: 600;
  }
}

.img {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
}
