.card {
  width: 100%;
  background-color: white;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 0.625rem 1.875rem rgba(56, 41, 224, 0.15);
  overflow: hidden;
}

.card-header__img {
  width: 100%;
}

.card-body {
  padding: 10px 30px 35px 30px;
  text-align: center;

  @include responsive(medium) {
    padding: 30px 45px 60px 45px;
  }
}

.card-content__header {
  font-weight: 900;

  @include responsive(medium) {
    font-size: 1.6rem;
  }
}

.card-content__desc {
  color: $clr__desaturated-blue;
  padding: 0 10px;

  @include responsive(medium) {
    font-size: 0.98rem;
  }
}

.card-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $clr__very-pale-blue;
  line-height: 0.5rem;
  font-size: 0.7rem;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 30px;
}

.card-plan__icon {
  display: flex;
  align-items: center;
}

.card-plan__desc {
  margin-left: 20px;
  font-size: 0.6rem;
}

.card-plan__desc--title {
  font-weight: 900;
}

.card-plan__desc--price {
  font-size: 0.85rem;
  color: $clr__desaturated-blue;
}

.card-plan__desc--change {
  font-size: 0.8rem;
  font-weight: 900;
  color: $clr__bright-blue;
  transition: 0.3s;

  &:visited {
    color: $clr__bright-blue;
  }

  &:hover {
    opacity: 0.7;
  }

  @include responsive(medium) {
    font-size: 0.92rem;
  }
}
