.header {
  margin: 100px auto 80px auto;
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
  max-width: 500px;

  &__title {
    font-weight: 200;
  }

  &__desc {
    color: $clr__grayish-blue;
    font-size: 0.88rem;
    line-height: 1.4rem;
    margin: 25px auto 0 auto;
    width: 100%;
    max-width: 350px;
    @include breakpoint-up(medium) {
      max-width: 700px;
    }
  }

  @include breakpoint-up(large) {
    font-size: 1rem;
  }
}
