.header {
  text-align: center;
  padding: 0 20px;
  margin: auto;
  width: 100%;
  margin-top: 130px;
}

.header__logo {
  margin: auto;
}

.header__title {
  margin-top: 50px;
  font-size: 2rem;
}

.header__info {
  margin-bottom: 50px;
}

@include breakpoint-up(laptop) {
  .header {
    max-width: $max--width--x--small;
  }
  .header__title {
    font-size: 2.2rem;
  }
}
