.section__a {
  text-align: center;
  padding: 0 20px;
  margin: auto;
  width: 100%;
  margin-top: $mt--large;

  @include breakpoint-up(laptop) {
    max-width: $max--width--large;

    padding: 0;
  }
}

.section__a__info {
  max-width: $max--width--x--small;
  margin: auto;
}

.section__a__showcase {
  @include breakpoint-up(desktop) {
    display: flex;
    margin-top: $mt--low;
    width: 100%;
    text-align: left;
    overflow: hidden;
  }
  @include breakpoint-up(wide) {
    overflow: visible;
  }
}

.section__a__showcase--img {
  margin: auto;
  margin-top: $mt--low;
  width: 100%;
  max-width: $max--width--x--small;

  @include breakpoint-up(desktop) {
    margin: 0;
    max-width: $max--width--small;
    position: relative;
    left: -35px;
  }
}

.section__a__showcase--list {
  li {
    margin-top: $mt--low;
    font-weight: bolder;
    font-size: 1.3rem;

    p {
      font-weight: normal;
      margin-top: 10px;
    }
  }
  @include breakpoint-up(desktop) {
    width: 100%;
    max-width: 400px;
    margin-left: 30px;
    padding-right: 30px;

    li:first-of-type {
      margin-top: 45px;
    }
  }
}
