.btn {
  margin: 2.125rem auto;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;

  span {
    border-bottom: 3px dashed var(--clr--active);
  }
}

.avatar {
  border-radius: 10%;
  overflow: hidden;
}

.sub {
  text-align: center;

  a {
    text-transform: capitalize;
    font-weight: 600;
  }
}
