.btn {
  margin: 2.125rem auto;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;

  span {
    color: var(--clr--active);
    border-bottom: 3px dashed var(--clr--active);
  }
}
