.nav {
  box-shadow: var(--shadow--1);
  background-color: var(--background--3);
  backdrop-filter: blur(1rem);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  margin-right: 1rem;
  font-weight: bold;
}
