@import '../../scss/mixins';

.comment {
  background-color: var(--background--3);
  margin: 1rem 0;
  border-radius: var(--radius);
  padding: 1rem;
  position: relative;

  @include breakpoint-up(laptop) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.content {
  line-height: 1.5rem;
  color: var(--foreground--2);
  margin-top: 1.5rem;
}

.body {
  width: 100%;
}

.replies {
  padding-left: 1rem;
  margin-left: 1rem;

  border-left: 3px solid var(--background--2);
}
