@import '../../scss/mixins';

.comment {
  background-color: var(--background--3);
  margin: 1rem 0;
  border-radius: var(--radius);
  padding: 1rem;
  position: relative;

  @include breakpoint-up(laptop) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.body {
  width: 100%;
}

.replies {
  padding-left: 1rem;
  border-left: 3px solid var(--background--2);

  @include breakpoint-up(laptop) {
    margin-left: 1rem;

    .replies {
      margin-left: 0;
    }
  }
}

.textarea label {
  background-color: var(--background--3);
}

.deleted {
  display: none;
}
