@import '../../scss/mixins';

.flag {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.over {
  display: none;
  @include breakpoint-up(desktop) {
    display: flex;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1;
    transform: scale(1.4) rotate(100deg);
  }
}

.overlay {
  display: none;
  @include breakpoint-up(desktop) {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10rem;
    right: -10rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5rem);
    z-index: -1;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  display: flex;
  border-radius: var(--border--radius--1);

  @include breakpoint-up(tablet) {
    border-radius: 0;
    object-fit: contain;
  }

  @include breakpoint-up(desktop) {
    object-fit: contain;
  }
}

.card {
  @include breakpoint-up(tablet) {
    border-radius: var(--border--radius--1);
    overflow: hidden;
    width: 100%;
    max-width: 35rem;
    margin: auto;
    box-shadow: var(--shadow--1);
  }

  @include breakpoint-up(desktop) {
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
  }
}

.info {
  width: 100%;
  padding: 1rem 0;

  @include breakpoint-up(tablet) {
    padding: 1rem;
  }

  @include breakpoint-up(desktop) {
    padding: 2rem;
  }
}

.title {
  margin-bottom: var(--gap);
}

.btn {
  padding: 1rem;
  box-shadow: var(--shadow--2);
  border-radius: var(--border--radius--1);
  margin: var(--gap) 0;
  width: 100%;
  max-width: 7rem;
  background-color: var(--background--2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: 0.3s;

  svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  @include focus-visible;
}
