@import '../../scss/mixins';

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0.27rem);
  z-index: var(--z-index-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  background-color: var(--background--1);
  padding: 1.5rem;
  border-radius: var(--radius);

  h2 {
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.5rem;
    color: var(--foreground--2);
  }

  @include breakpoint-up(laptop) {
    max-width: 24rem;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
