@import '../../scss/mixins';

.btn {
  background-color: var(--clr--active);
  border: 1px solid var(--clr--active);
  padding: 12px 20px;
  border-radius: var(--radius);
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  svg {
    margin-right: 0.5rem;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 4px rgba(84, 87, 182, 0.37);
    background-color: transparent;
    color: var(--clr--active);
    outline: none;
  }

  &:active {
    box-shadow: none;
    transform: scale(0.9);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.danger {
  background-color: var(--clr--danger);
  border: 1px solid var(--clr--danger);

  &:focus-visible {
    box-shadow: 0px 0px 0px 4px rgba(237, 100, 104, 0.37);
    color: var(--clr--danger);
  }
}

.neutral {
  background-color: var(--foreground--2);
  border: 1px solid var(--foreground--2);

  &:focus-visible {
    box-shadow: 0px 0px 0px 4px rgba(103, 114, 126, 0.37);
    color: var(--foreground--2);
  }
}

.transparent {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--clr--active);
  padding: 0;
  text-transform: capitalize;
  font-weight: 500;

  &.danger {
    color: var(--clr--danger);
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--foreground--1);
  }
}

.loader {
  font-size: 1.3rem;
  animation: 2s loading infinite;
}
@include breakpoint-up(laptop) {
  .btn {
    &:hover {
      border: 1px solid var(--clr--active);
      background-color: transparent;
      color: var(--clr--active);
      cursor: pointer;
    }
    &:active {
      transform: none;
      box-shadow: none;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  .danger {
    &:hover {
      border: 1px solid var(--clr--danger);
      color: var(--clr--danger);
    }
  }
  .neutral {
    &:hover {
      border: 1px solid var(--foreground--2);
      color: var(--foreground--2);
    }
  }
  .transparent {
    &:hover {
      border: 1px solid transparent;
    }

    &:focus-visible {
      box-shadow: 0px 0px 0px 2px var(--foreground--1);
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
