@import '../../scss/mixins';

.select {
  padding: 1.2rem;
  background-color: var(--background--2);
  box-shadow: var(--shadow--1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  color: var(--foreground--2);
  border-radius: var(--border--radius--1);

  @include focus-visible;
}

.status {
  font-size: 1.3rem;
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 14rem;
  z-index: 999;
}

.list {
  position: absolute;
  top: 3.5rem;
  border-bottom-left-radius: var(--border--radius--1);
  border-bottom-right-radius: var(--border--radius--1);
  background-color: var(--background--2);
  width: 100%;
  transform: rotate(45deg);
  transform-origin: 20% 40%;
  box-shadow: var(--shadow--1);
  z-index: -1;
  padding-top: 1.3rem;
}

.item {
  padding: 0.9rem 1.2rem;
  text-transform: capitalize;
  color: var(--foreground--2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;

  &:hover {
    background-color: var(--background--1);
  }

  @include focus-visible;
}

.active {
  background-color: var(--background--1);
}

.hide {
  opacity: 0;
}
