@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    // opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    // opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    // opacity: 0;
    transform: translateY(100%);
  }
  100% {
    // opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
