// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$clr--primary--strongCyan: hsl(171, 66%, 44%);
$clr--primary--lightBlue: hsl(233, 100%, 69%);
$clr--neutral--darkGrayishBlue: hsl(210, 10%, 33%);
$clr--neutral--grayishBlue: hsl(201, 11%, 66%);
// max width
$max--width--x--small: 600px;
$max--width--small: 768px;
$max--width--medium: 1024px;
$max--width--large: 1366px;
// line heights
$line--height--info: 1.8rem;
// margin
$mt--large: 130px;
$mt--medium: 100px;
$mt--low: 70px;
