// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$max-width: 1180px !default;
$clr__cyan: hsl(179, 62%, 43%);
$clr__cyan-light: hsl(179, 53%, 52%);
$clr__yellow: hsl(71, 73%, 54%);
$clr__light-gray: hsl(204, 43%, 93%);
$clr__grayish-blue: hsl(218, 22%, 67%);
