// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$max-width: 1180px !default;

$clr__red: hsl(0, 100%, 74%);
$clr__green: hsl(154, 59%, 51%);
$clr__dark-green: hsl(154, 49%, 45%);
$clr__blue: hsl(248, 32%, 49%);
$clr__dark-blue: hsl(249, 10%, 26%);
$clr__grayish-blue: hsl(246, 25%, 77%);
