// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Screen Reader Class
 * To hide content visually.
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

noscript {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  border-radius: 1em;
  padding: rem(20);
  width: rem(280);
  font-size: rem(16);
  transform: translate(-50%, -50%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: $clr--neutral--darkGrayishBlue;
  font-size: 18px;
}

main {
  padding: 0;
}

.top__bg--mobile {
  width: 100%;
  top: 0;
  position: absolute;

  @include breakpoint-up(small) {
    display: none;
  }
}

.top__bg--desktop {
  width: 100%;
  top: 0;
  position: absolute;

  @include breakpoint-down(small) {
    display: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: $line--height--info;
  color: $clr--neutral--grayishBlue;
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
