// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Screen Reader Class
 * To hide content visually.
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

noscript {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  border-radius: 1em;
  padding: rem(20);
  width: rem(280);
  font-size: rem(16);
  transform: translate(-50%, -50%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: $clr__dark-blue;
  color: $txt__white;
  font-size: 15px;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

/**
 * Style Broken Images
 * Source: https://bitsofco.de/styling-broken-images/
 * */
img::before {
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 0.625rem;
}

img:after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 0.75rem;
}

.hide-for-mobile {
  @include breakpoint-down("small") {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up("small") {
    display: none;
  }
}
