html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  color: $clr__dark-blue;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $clr__pale-blue;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $clr__pale-blue;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $clr__pale-blue;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $clr__pale-blue;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $clr__pale-blue;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $clr__pale-blue;
}
