.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include responsive(medium) {
    min-height: 100vh;
  }
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}
